.reGnt{
    background-color: violet !important;
    transition: all .3s ease-out;
}
.reGnt:hover{
    background-color: skyblue !important;
    font-weight: bold;
    border: none;
    outline: none;
}